
{% bibliography --group_by year --sort_by year --order descending %}

{% for group in bibliography %}
  <h3>{{ group.name }}</h3>
  <ul>
    {% for entry in group.items %}
      <li>
        {{ entry.author }} ({{ entry.year }}).
        <em>{{ entry.title }}</em>.
        {% if entry.journal %}
          {{ entry.journal }}
        {% elsif entry.booktitle %}
          {{ entry.booktitle }}
        {% elsif entry.publisher %}
          {{ entry.publisher }}
        {% endif %}
        {% if entry.url %} <a href="{{ entry.url }}" target="_blank">[Link]</a>{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}

