<div class="well">
  <h4>News</h4>
  <div style="font-size: 0.9em; line-height: 1.4;">
    <ul style="padding-left: 20px; margin-bottom: 0;">
      {% for article in site.data.news limit:9 %}
        <li style="margin-bottom: 5px;">
          <strong>{{ article.date }}</strong> — {{ article.headline }}
        </li>
      {% endfor %}
    </ul>
  </div>

  <h6 style="margin-top: 8px;">
    <a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a>
  </h6>
</div>

<!-- <div class="well">
  <h4>News</h4>
  <ul style="padding-left: 20px;">
    {% for article in site.data.news limit:9 %}
      <li>
        <strong>{{ article.date }}</strong> — {{ article.headline }}
      </li>
    {% endfor %}
  </ul>

  <h6><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h6>
</div> -->


